/*used colors for reference*/
/*saddlebrown*/
/*darkgray*/
/*#496647*/
/*#99542c*/
/*#c56c39*/
/*#2d4b1e*/
/*#6e6e6e*/

body{
    margin: 0;
    height: 100vh;
}
/* styling for the header*/
header{
    position: absolute;
    top: 0;
    height: 15%;
    width: 100%;
    background-color: #2d4b1e;
    color: white;
    text-align: center;
}
header h1{
    margin-top: 20px;
    margin-bottom: 0;
    display: block;
}
.linkContainer{
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
}
header h5{
    text-align: right;
    margin: 5px;
    display: block;
}
header a{
    color: white;
}
header a:hover{
    color: darkgray;
    text-decoration: none;
}
header img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}
.menuDropDown{
    position: absolute;
    background-color: darkgray;
    box-sizing: border-box;
    border: 1px solid black;
    height: 40px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0);
}
.menuDropDown:hover{
    box-shadow: 2px 2px 2px #303030;
    color: black;
}
#stats{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
    height: auto;
}
/* styling for the side stats bar*/
.statsLabel{
    width: 100%;
    background-color: inherit;
    clear: left;
    text-align: center;
    font-size: 1.25em;
    color: white;
    margin: 5px 0;
}
.valueContainer{
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: white;
}
.value{
    font-size: 1.5em;
    margin-left: 10px;
}
#stats input{
    display: block;
    margin: 10px auto;
}
/*styling for game area*/
#cardContainer{
    position: relative;
    display: -webkit-inline-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    -webkit-align-items: center;

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;

    /*-webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   -o-perspective: 1000;
   perspective: 1000;*/
}
.mapContainer{
    position: relative;
    display: inline-block;
    height: 50%;
    width: 100%;
}
#map {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 700px;
    height: 385px;
    padding: 0;
}

/*styling for cards*/
/*picture ratio for card is 108 to 140 (w:h)*/
.card{
    position: relative;
    width: 100px;
    height: 150px;
    display: inline-block;
    margin: 5px;
    border-radius: 10%;
    z-index: 1;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   -o-perspective: 1000;
   perspective: 1000;
}
/* hide back of pane during swap */
.front, .back {
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 10%;
    top: 0;
    left: 0;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
/*remember front of card has the coin image*/
.front {
    background-color: white;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    /*sets up front of card for the transition when clicked*/
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    box-shadow: -1px 1px black;
}
/*remember back of card has the NPS logo image*/
.back {
    background-color: saddlebrown;
    background-image: url('resources/nps_logo_transparent_large.png');
    background-size: 100% 100%;
    box-shadow: 1px 1px black;
    z-index: 2;
}
.card.cardClicked .front {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform: rotateY(0deg) translateZ(1px);
    transform: rotateY(0deg) translateZ(1px);
    box-shadow: 1px 1px black;
}
.card.cardClicked .back {
    -webkit-transform: rotateY(-180deg) translateZ(1px);
    transform: rotateY(-180deg) translateZ(1px);
    box-shadow: -1px 1px black;
}
.card.matched .front{
    /*performs the transition when clicked*/
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    box-shadow: 1px 1px black;
}
.card.matched .back{
    visibility: hidden;
}
.card.matched .transparency{
    background-color: #1dc116;
    z-index: 5;
    opacity: 0.5;
    margin: 0;
}

#gameWonModal{
    display: none;
    width: 100%;
    color: black;
    text-align: center;
}
#gameWonModal .modal-content{
    background-color: #99542c;
}
#gameWonModal img{
    height: 200px;
    width: auto;
    display: block;
    margin: 0 auto;
}
/*styling for about page. this applies to the game as well. consider moving it*/
.sideNav {
    position: absolute;
    display: inline-block;
    top: 15%;
    left: 0;
    height: 85%;
    width: 150px;
    background-color: #99542c;
    z-index: 3;
    border: 1px solid black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.sideNav ul{
    color: white;
}
.sideNav a{
    color: white;
}
/*applies to both the game and about page*/
.mainContent{
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 85%;
    width: calc(100% - 150px);
    margin: 0;
    padding: 5px;
    background-color: #c56c39;
    color: white;
}
.mainContent img{
    height: 150px;
    width: auto;
    float: right;
    display: block;
}

@media screen and (max-height: 895px) {
    #map {
        width: 350px;
        height: 230px;
    }
}
/*min width 1161*/
@media screen and (min-width: 1161px) and (max-height: 710px) {
    .card{
        width: 80px;
        height: 120px;
    }
}
@media screen and (min-width: 1161px) and (max-height: 600px) {
    .card{
        width: 60px;
        height: 90px;
    }
}
/*max width 1160*/
@media (max-width: 1160px) {
    .card{
        width: 80px;
        height: 120px;
    }
}
@media (max-width: 1160px) and (max-height: 600px){
    .card{
        width: 70px;
        height: 105px;
    }
}
@media (max-width: 1160px) and (max-height: 550px){
    .card{
        width: 60px;
        height: 90px;
    }
}
/*max width 970*/
@media (max-width: 970px) {
    header h1{
        font-size: 2em;
    }
    .sideNav{
        left: 50%;
        transform: translate(-50%, -40px);
        height: auto;
        border: none;
    }
    #stats{
        display: none;
        border: 1px solid black;
    }
    .menuDropDown{
        display: -webkit-flex;
        display: flex;
    }
    .mainContent{
        width: 100%;
    }
    .sideNav:hover > .menuDropDown{
        background-color: #6e6e6e;
    }
    .sideNav:hover > #stats{
        display: block;
        top: 40px;
        background-color: #99542c;
        z-index: 5;
    }
}
@media (max-width: 970px) and (max-height: 600px){
    .menuDropDown{
        height: 20px;
        top: 0;
        transform: translate(-50%, 100%);
    }
}
/*max width 820*/
@media (max-width: 820px) {
    .card{
        width: 70px;
        height: 105px;
    }
}
/*max width 730*/
@media (max-width: 730px) {
    .card{
        width: 70px;
        height: 105px;
    }
    #map{
        width: 350px;
        height: 230px;
    }
}
@media (max-width: 730px) and (max-height: 730px){
    .card{
        width: 60px;
        height: 90px;
    }
}
/*max width 650*/
@media (max-width: 650px) {
    .card{
        width: 70px;
        height: 105px;
    }
}
/*max width 580*/
@media (max-width: 580px) {
    header{
        height: 10%;
    }
    header h1{
        font-size: 1.5em;
    }
    .mainContent{
        height: 90%;
    }
    .sideNav{
        height: auto;
        top: 10%;
    }
    .menuDropDown{
        height: 20px;
        top: 0;
        transform: translate(-50%, 100%);
    }    
}
/*specific media queries*/
/*portrait - iPad Pro*/
@media screen and (orientation: portrait) and (width: 1024px) and (height: 1366px){
    .card{
        width: 120px;
        height: 180px;
    }
    header h1{
        position: absolute;
        font-size: 4em;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
/*landscape - iPad Pro*/
@media screen and (width: 1366px) and (height: 1024px) {
    .card{
        width: 120px;
        height: 180px;
    }

}
/*portrait - iPad*/
@media screen and (width: 980px) and (height: 1306px) {
    .card{
        width: 100px;
        height: 150px;
    }
    header h1{
        position: absolute;
        font-size: 4em;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
/*landscape - iPad*/
@media screen and (width: 1306px) and (height: 980px) {
    .card{
        width: 80px;
        height: 120px;
    }
}
/*portrait -  iPhone 5, iPhone 6, iPhone 6 Plus, Galaxy S5, Nexus 6P, Nexus 5X*/
@media screen and (width: 980px) and (min-height: 1569px) and (max-height: 1743px) {
    .card{
        width: 120px;
        height: 180px;
    }
    .statsLabel{
        font-size: 2em;
    }
    #stats input{
        font-size: 1.75em;
        margin: 30px auto;
    }
    header h1{
        position: absolute;
        font-size: 4em;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
/*landscape - iPhone 5, iPhone 6, iPhone 6 Plus, Galaxy S5, Nexus 6P, Nexus 5X*/
@media screen and (width: 980px) and (min-height: 550px) and (max-height: 555px){
    .card{
        width: 60px;
        height: 90px;
    }
    #stats input{
        font-size: 1.25em;
        margin: 30px auto;
    }
}